.Header{
    position:'sticky' !important;
}

.HeaderTitle{
    font-size: 30px !important;
    padding-bottom: 10px;
}

.HeaderIcon{
    padding-left: 20px; 
    padding-right: 15px; 
    padding-top: 20px;
}